@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Common part styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    font-size: 20px;
}

.btn-primary {
    padding: 1rem 1.3rem;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    margin: 1.5rem 0;
    cursor: pointer;
}


/* header section styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 2.5rem 12rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    line-height: 1.4rem;
}


/* banner part styles */
.banner {
    margin-top: 5.5rem;
}

.banner-content {
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.banner-description {
    color: #727272;
    font-size: .8rem;
    line-height: 1.3rem;
}

.banner-img {
    width: 100%;
}


/* main section styles */
main {
    max-width: 1440px;
    margin: 4rem auto;
}


/* team section styles */

.team-container {
    display: flex;
    align-items: center;
    /* gap: 3.5rem; */
}

.team-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.team-text-content {
    padding: 0 3.5rem;
}

.team-title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.span-1 {
    color:#727272;
    font-weight: 500;
}

.span-2 {
    color: #131313;
    font-weight: 700;
}

.span-3 {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-size: .8rem;
    line-height: 1.26rem;
}


/* features section styles */


/* facts section styles */
.facts-description {
    max-width: 542px;
    margin: 1rem 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E; 
    text-align: center;
    padding: 1.85rem 1.25rem;
    margin: 5rem 0;
}

.card .card-stats {
    color: #424242;
    font-size: 2.25rem;
    font-weight: 600;
}

.card .card-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* Responsive Media Queries */

/*small or mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 1rem .5rem;
    }

    html {
        font-size: 130%;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links li {
        margin: 1rem .5rem;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img-content {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
    }

    .team-text-content {
        padding: 0 1rem;
    }

    .card-container {
        flex-wrap: wrap;
    }
    
    .card {
        margin: .5rem 0 ;
    }

    .facts-container-content {
        text-align: center;
    }

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 1rem 1rem;
    }

    html {
        font-size: 140%;
    }

    .navbar, .team-container {
        flex-direction: column;
    }

    .nav-links li {
        margin: 1rem .8rem;
    }

    .team-text-content {
        padding: 0 2rem;
        padding-top: 1.25rem;
    }

    .card-container {
        flex-wrap: wrap;
    }
    
    .card {
        margin: .8rem 0 ;
    }

    .facts-container-content {
        padding: 0 1rem;
    }

    
}


/* larger medium devices */
@media screen and (min-width: 960px) and (max-width: 1290px) {
    header {
        padding: 2rem 9rem;
    }    

    html {
        font-size: 90%;
    }

    .team-container {
        padding: 0 1rem;
    }
}
